<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!--<connectionStrings>-->
<!--<add name="DatabaseConnection" connectionString=" Data Source=qds-037.hichina.com;Initial Catalog=qds0370590_db;Uid=qds0370590;Pwd=jxgzlss1;" />

    <add name="DatabaseConnection" connectionString="data source=UAHN0KJ5S5STESQ;Integrated Security=SSPI;Initial Catalog = graduation_design;" />
  </connectionStrings>-->
  <connectionStrings>
		<add name="DatabaseConnection" connectionString="Data Source=qds-037.hichina.com;Initial Catalog=qds0370590_db;Uid=qds0370590;Pwd=jxgzlss1;" />
	</connectionStrings>
  <system.web>
    <pages enableEventValidation="false" enableViewStateMac="false" validateRequest="false" />
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
</configuration>